*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/release/app-release.apk
/app/config.txt
/app/map.txt
/app/release/output-metadata.json
/app/seed.txt
/app/usage.txt
/app/release/app-release.aab
